<span class="warning label">Savoirs</span>
<ul>
    <li>Notions d'angle et / ou de secteur angulaire;</li>
    <li><em>Vocabulaire et notation :</em> sommet, côtés, angle saillant, nul, aigu, droit,
        obtus, plat, rentrant, plein ;</li>
    <li>Mesures (en degrés);</li>
    <li>Bissectrice.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Construction d'un angle de mesure donnée (à l'aide du rapporteur et
        de la règle);</li>
    <li>Détermination de la mesure d'un angle donné;</li>
    <li>Construction de la bissectrice d'un angle donné à l'aide du rapporteur
        et de la règle).</li>
</ul>
