<span class="warning label">Savoirs</span>
<ul>
    <li><em>Cube et pavé droit</em> : forme, faces, arêtes, sommets ;</li>
    <li>Propriétés:
        <ul>
            <li>nombre de faces, d'arêtes, de sommets,</li>
            <li>parallélisme de faces opposées,</li>
            <li>égalité des aires des faces opposées,</li>
            <li>parallélisme des supports des arêtes opposées,</li>
            <li>égalité des longueurs des arêtes opposées,</li>
            <li>perpendicularité des arêtes sécantes.</li>
        </ul>
    </li>
    <li>Volume, aire.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Fabrication d'un cube, d'un pavé ; réalisation d'un patron de cube, de
        pavé;</li>
    <li>Calcul des éléments métriques (l'aire de la surface latérale, l'aire totale,
        volume);</li>
    <li>Conversion des unités de volume.</li>
</ul>
