<span class="warning label">Savoirs</span>
<ul>
    <li>Distances de deux points.</li>
    <li>Inégalité triangulaire.</li>
    <li>Caractérisation d'un segment par les distances (Si $M\in$[AB] alors MA + MB = AB et si $MA+MB=AB$
        alors $M\in$[AB].
    </li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Construire la médiatrice d'un segment à la règle et au compas.</li>
    <li>Utiliser l'inégalité triangulaire et la caractérisation de la médiatrice pour justifier des inégalités ou des
        égalités des distances.
    </li>
    <li></li>
</ul>
