<span class="warning label">Savoirs</span>
<ul>
    <li>Droites : appartenance de points, notation, points alignés;</li>
    <li>Droites passant par:
        <ul>
            <li>un point,</li>
            <li>deux points distincts.</li>
        </ul>
    </li>
    <li>Quatrième proportionnelle;</li>
    <li>Demi-droites;</li>
    <li>Droites sécantes;</li>
    <li>Droites perpendiculaires:
        <ul>
            <li>Symbolisme;</li>
            <li><em>Par un point donné, il passe une et une seule perpendiculaires à une droite donnée</em></li>
        </ul>
    </li>
    <li>Droites parallèles:
        <ul>
            <li>Symbolisme;</li>
            <li><em>Par un point donné, il passe une et une seule parallèle à une droite donnée</em></li>
            <li><em>Lorsque deux droites sont parallèles, toute parallèle (sécante, perpendiculaire)
                à l'une est parallèle (sécante, perpendiculaire) à l'autre</em></li>
            <li><em>Deux droites perpendiculaires à une même droite sont parallèles.</em></li>
        </ul>
    </li>
</ul>
<span class="warning label">Savoir-faire</span>
<p>Construction à l'aide des instruments (règle et équerre) : Droite passant par 2 points, droite passant par un point et parallèle à une autre,
    droite passant un point et perpendiculaire à une autre.
</p>
