<span class="warning label">Savoirs</span>
<ul>
    <li>Numérateur, dénominateur, fractions égales, fractions irréductibles,
        fractions décimales;
    </li>
    <li>Inverse d'une fraction;</li>
    <li>Propriétés d'addition et de multiplication des fractions.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Ecriture fractionnaire d'un nombre décimal;</li>
    <li>Simplification des fractions;</li>
    <li>Addition et soustraction des fractions de même dénominateur;</li>
    <li>Multiplication, division des fractions;</li>
    <li>Comparaison des fractions.</li>
</ul>