<span class="warning label">Savoirs</span>
<ul>
    <li>Multiples et diviseurs d'un entier naturel.</li>
    <li>Entiers naturels et ordre ;</li>
    <li>Entiers naturels consécutifs ;</li>
    <li>Propriétés d'addition et de multiplication des nombres entiers naturels.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Lecture et écriture des entiers</li>
    <li>Opérations d'addition, de soustraction, de multiplication et de division; </li>
    <li>Division à l'aide des critères de divisibilité : par 10, 100, 1000, .., par 2, 3, 5 et 9;</li>
    <li>Nombre d'entiers consécutifs de m à n où n et m sont des entiers naturels.</li>
</ul>
