<span class="warning label">Savoirs</span>
<ul>
    <li>Parallélogramme, losange, rectangle, carré, périmètre et aire;</li>
    <li><em>Propriétés :</em> longueur des côtés opposés, diagonales, angles aux sommets
        opposés.
    </li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Construction à l'aide du compas, de la règle et de l'équerre : du 4ème
        sommet d'un parallélogramme, d'un losange, d'un rectangle, d'un carré
        ;
    </li>
    <li>Calcul de l'aire d'un parallélogramme, d'un losange, d'un rectangle,
        d'un carré;
    </li>
    <li>Utilisation des propriétés pour justifier/déterminer une égalité de longueur,
        de mesure d'angle ;
    </li>
    <li>Techniques de conversion des unités d'aires.</li>
</ul>
