<span class="warning label">Savoirs</span>
<ul>
    <li><em>Polygones usuels:</em>triangle, trapèze, pentagone, hexagone régulier, octogone
        régulier, parallélogrammes.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li><em>Caractérisation des polygones particuliers en liaison avec les symétries:</em>trapèze
        isocèle, hexagone régulier, octogone régulier.</li>
    <li><em>Reconnaître et construire un polygone particulier: </em>parallélogramme, trapèze,
        losange, hexagone régulier, octogone régulier, pentagone.</li>
</ul>
