<span class="warning label">Savoirs</span>
<ul>
    <li><em>Prisme droit:</em> forme, faces, bases, arêtes ;</li>
    <li><em>Propriétés:</em> nombre de faces, d'arêtes, de sommets</li>
    <li><em>Eléments métriques:</em> aire latérale, aire totale, volume.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Fabrication d'un prisme droit et réalisation d'un patron d'un prisme
        droit;</li>
    <li>Calcul des éléments métriques (l'aire de la surface latérale, l'aire totale,
        volume);</li>
</ul>
