<span class="warning label">Savoirs</span>
<ul>
    <li>Coefficient de proportionnalité</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Calcul d'un coefficient de proportionnalité particulier : vitesse, masse
        volumique, débit.</li>
    <li>Calcul d'un pourcentage, d'une échelle.</li>
    <li>Représentation graphique d'une situation de proportionnalité dans
        un quadrillage.</li>
    <li>Identification et exploitation du graphique d'une situation de proportionnalité
        dans un quadrillage.</li>
</ul>
