<span class="warning label">Savoirs</span>
<ul>
    <li>Tableau de proportionnalité;</li>
    <li>Coefficients de proportionnalité;</li>
    <li>Suite de nombres proportionnels;</li>
    <li>Quatrième proportionnelle;</li>
    <li>Pourcentage, échelle;</li>
    <li>Propriétés des nombres proportionnels.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Utilisation des coefficients de proportionnalités comme opérateurs;</li>
    <li>Utilisation des propriétés des nombres proportionnels pour déterminer
        des quantités;</li>
    <li>Utilisation des pourcentages et des échelles comme opérateurs.</li>
</ul>
