<span class="warning label">Savoirs</span>
<ul>
    <li>Segments, support d'un segment;</li>
    <li>Longueur d'un segment;<br>
        <em>Propriété:</em> si M$\in$[AB] alors MA+MB=AB
    </li>
    <li>Milieu d'un segment;<br>
        <em>Propriété:</em> si M est milieu du segment [AB] alors MA=$\frac{AB}{2}$=MB
    </li>
    <li>Médiatrice d'un segment : définition.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Construction de la médiatrice d'un segment à l'aide de la règle et de
        l'équerre;
    </li>
    <li>Construction d'un segment donné;</li>
    <li>Construction du milieu d'un segment donné à l'aide de la règle graduée;</li>
    <li>Conversion des unités de longueur.</li>
</ul>
