<span class="warning label">Savoirs</span>
<ul>
    <li>Symétries par rapport à un point, symétrie orthogonale.</li>
    <li><em>Propriétés de conservation :</em> distances, angles, formes, parallélisme, orthogonalité,
        alignement des points.
    </li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Construction des figures symétriques par rapport à une droite ou un
        point (point, droite, segment, triangle, cercle);
    </li>
    <li>Utilisation des propriétés de conservation pour justifier une égalité
        de distance ou angulaire ou l'alignement de 3 points, l'orthogonalité
        ou le parallélisme de 2 droites ;
    </li>
    <li>Remplir un tableau de correspondance dans l'étude des figures symétriques
        ;</li>
    <li>Reconnaître une configuration admettant un axe(ou un centre) de symétrie
        et préciser cet axe (ou ce centre) de symétrie.</li>
</ul>
