<span class="warning label">Savoirs</span>
<ul>
    <li>Points symétriques par rapport à un point.</li>
    <li><em>Propriétés :</em> conservation de l'alignement, des longueurs, des angles,
        des formes.
    </li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Construction du symétrique d'un point, d'une figure usuelle (segment,
        triangle, cercle, quadrilatères) par rapport à un point. ;
    </li>
    <li>Utilisation des propriétés pour:
        <ul>
            <li>justifier une égalité de longueur, de mesure d'angle ;</li>
            <li>déterminer une longueur, une mesure d'angle.</li>
        </ul>
    </li>
</ul>
