<span class="warning label">Savoirs</span>
<ul>
    <li><em>Droites particulières dans un triangle :</em>hauteur, médiatrice,médiane, bissectrice.</li>
    <li>Somme des angles d'un triangle.</li>
    <li><em>Caractérisation des triangles particuliers:</em> triangle rectangle, triangle isocèle,
        triangle équilatéral.;</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Construction des triangles particuliers.</li>
    <li>Construction des droites particulières d'un triangle (hauteurs, médiatrices,
        médianes, bissectrices).</li>
</ul>
