<span class="warning label">Savoirs</span>
<ul>
    <li>Vocabulaire ;</li>
    <li>Triangles particuliers;</li>
    <li><em>Droites particulières d'un triangle:</em> hauteur, médiane, bissectrice, médiatrice
        d'un côté;</li>
    <li>Périmètre et aire.</li>
</ul>
<span class="warning label">Savoir-faire</span>
<ul>
    <li>Construction d'un triangle connaissant : les longueurs des côtés, la
        longueur de deux côtés et la mesure de l'angle qu'ils forment, la longueur
        d'un côté et les mesures des angles à ses extrémités;</li>
    <li>Construction des triangles particuliers;</li>
    <li>Construction d'une hauteur, d'une médiane, d'une médiatrice, d'une bissectrice dans un triangle.</li>
    <li>Calcul du périmètre et de l'aire.</li>
</ul>
