<div class="row">
    <div class="small-12 columns callout">
        <h1 class="animated zoomIn anim2s">Module 8</h1>

        <h2 class="animated fadeInLeft anim1s delai1s">Solides de l’espace</h2>
        <blockquote class="animated lightSpeedIn anim1s delai1s">
            <span class="label warning">Durée</span> 11 heures, 04 heures hebdomadaires.
        </blockquote>
        <a class="button succes animated rollIn delai2s" data-toggle="pdfCinquieme">Télécharger au format Pdf</a>
    </div>
</div>

<div class="reveal" id="pdfCinquieme" data-reveal data-close-on-click='true' data-animation-in='slide-in-up' style="text-align: center">
    <h4>Vous êtes sur le point de téléchager l'ensemble du programme d'études.</h4>
    <a href="assets/Curriculum.pdf" class="button succes">Ok</a>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>