<div class="row">
    <div class="small-12 columns callout">
        <h1 class="animated zoomIn anim1s">Présentation générale du programme d'étude</h1>
        <blockquote class="animated lightSpeedIn anim2s delai1s">
            Le présent programme est élaboré suivant l'approche par les compétences avec entrée
            par les situations de vie. Il s'agit, d'aller au-delà de l'acquisition des savoirs
            mathématiques pour rendre les élèves capables d'en faire des outils de résolution des problèmes
            issus des situations sus-évoquées.
        </blockquote>
        <a class="button succes animated rollIn delai2s" data-toggle="pdfCinquieme">Télécharger au format Pdf</a>
    </div>
</div>

<div class="reveal" id="pdfCinquieme" data-reveal data-close-on-click='true' data-animation-in='slide-in-up' style="text-align: center">
    <h4>Vous êtes sur le point de téléchager l'ensemble du programme d'études.</h4>
    <a href="assets/Curriculum.pdf" class="button succes">Ok</a>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>