<div class="top-bar show-for-medium"><!--Barre de navigation-->

    <div class="top-bar-left"><!--partie gauche-->
        <ul class="menu" data-dropdown-menu>
            <li class="menu-text ">Curriculum</li>
        </ul>
    </div><!--Fin partie gauche-->

    <div class="top-bar-right"><!--partie droite-->
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="Index.html">Accueil</a></li>
            <li><a href="Presentation.html">Présentation générale</a></li>
            <li class="has-submenu "><!--Sous Menu Sixieme-->
                <a href="Sixieme.html">Sixième</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="Module1.html">Module 1</a></li>
                    <li><a href="Module2.html">Module 2</a></li>
                    <li><a href="Module3.html">Module 3</a></li>
                    <li><a href="Module4.html">Module 4</a></li>
                </ul><!--Fin Sous Menu Sixieme-->
            </li>
            <li class="has-submenu">
                <a href="Cinquieme.html">Cinquième</a>
                <ul class="submenu menu vertical " data-submenu><!--Sous Menu Cinquième-->
                    <li><a href="Module5.html">Module 5</a></li>
                    <li><a href="Module6.html">Module 6</a></li>
                    <li><a href="Module7.html">Module 7</a></li>
                    <li><a href="Module8.html">Module 8</a></li>
                </ul><!--Fin Sous Menu Cinquième-->
            </li>
        </ul>
    </div> <!--Fin partie droite-->
</div>