<div class="pied-page" style="background-color: #252525">
    <div class="row align-middle" >
        <div class="medium-6 columns">
            <h5>Restez informé</h5>
            Inscrivez vous pour recevoir par email, les dernieres mises à jour, fonctionnalités et nouvelles du site.
        </div>
        <div class="medium-offset-2 medium-4 columns">
            <div class="input-group">
                <input class="input-group-field" type="url" placeholder="Email">
                <a class="input-group-button button" >S'incrire</a>
            </div>
        </div>
    </div>
</div>
<div class="pied-page">
    <div class="row">
        <div class="small-6 columns">
            <h5>Curriculum</h5>
        </div>
        <div class="small-6 columns" style="text-align: right">
            2015, Kompass
        </div>
    </div>
</div>