<div class="row" id="contenu-principal">
    <div class="small-12 medium-9 columns" >
        <!--Contenu principal-->
        <div><!--Contenu principal-->

            <h3 id="P1" data-magellan-target="P1">Introduction</h3>
            <h4>Présentation du module</h4>

            <p>Ce module comporte deux parties essentielles : les configurations planes, les
                symétries orthogonales et centrales dans le plan. Il développe deux compétences
                fondamentales que sont :</p>

            <ul>
                <li>déployer un raisonnement mathématique du type analogique, déductif et inductif;</li>
                <li>résoudre des problèmes par l'observation, l'identification et la caractérisation
                    des formes planes ; par les transformations élémentaires que sont les symétries.</li>
            </ul>
            <p> Il s'articule sur la famille de situations suivantes : représentations et transformations
                des configurations planes dans l'environnement. Les compétences mises en contexte s'appuient
                sur les trois catégories d'actions qui suivent :</p>
            <ul>
                <li>Reconnaissance des formes planes et des transformations dans l'environnement
                    physique;</li>
                <li>Production des formes planes et transformations dans l'environnement
                    physique;</li>
                <li>Détermination des mesures et des positions.</li>
            </ul>
            <p>Cette dernière catégorie d'actions est le champ privilégié de l'inter action entre
                les activités numériques et les activités géométriques de l'élève de 6ème.</p>
            <p>Les différentes actions qui s'intègrent dans chacune des catégories suscitées
                sont en corrélation avec les savoirs essentiels que ce module développe, et qui
                s'appuient sur les habiletés cognitives suivantes : connaissance, compréhension
                et application.</p>

            <h4> Contribution du module à la finalité et aux buts curriculaires</h4>
            <p>Le module permet de développer les compétences transversales suivantes :
                le sens de la concision, l'esprit critique et l'organisation rationnelle des données.
                A terme, ces compétences permettent à l'apprenant de s'assumer comme
                membre responsable d'une famille, en même temps qu'elles lui permettent
                d'opérer des choix judicieux et autonomes, dans la production, la consommation
                des biens et services.</p>

            <h4>Contribution du module au programme d’études et aux domaines de vie</h4>
            <p>La géométrie plane occupe une place privilégiée dans le programme de mathématiques
                de par les compétences qu'elle vise à développer. Sa contribution
                au développement de la technologie, de l'art, de la chimie, ne sont plus à
                démontrer. Enfin les innombrables symétries que la nature offre dans la biologie
                et la physiologie végétale ou animale font de ce module un des maillons
                essentiels dans plus d'un domaine d'apprentissage.</p>
            <p>L'importance de ce module réside dans le fait que l'élève vit dans un espace
                géographique. L'utilisation et la rencontre des objets dans lesquels on peut
                extraire des formes géométriques planes font partie du quotidien :aménagement
                ou réalisation de son habitat, manipulation ou réalisation de certains
                objets usuels , appréciation ou production des oeuvres d'art, choix du chemin
                adéquat pour se rendre à un lieu pour ne citer que celles-ci ; toutes choses
                pouvant l'aider à s'affirmer comme membre responsable d'une famille, à opérer
                des choix judicieux dans la consommation des biens , des services et de
                l'information. La contribution de ce module à tous les domaines de vie est
                donc d'une évidence incontestable.</p>

            <h3 id="P2" data-magellan-target="P2">Matrice</h3>

            <h4>Cadre de contextualisation</h4>

            <span class="warning label">Famille de situations</span>
            <p>Représentations et transformations des configurations planes dans l’environnement</p>
            <span class="warning label">Exemples de situations</span>
            <ul>
                <li>Délimitation d’un terrain.</li>
                <li>Labour</li>
                <li>Confection d’un vêtement</li>
            </ul>

            <hr>

            <h4>Agir compétent</h4>

            <div class="panneauVertClair">
                <div class="row ">
                    <div class="small-6 columns">
                        <span class="warning label">Catégories d'actions</span>
                        <p><strong>Reconnaissance des formes planes et transformations dans
                            l’environnement physique.</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <span class="warning label">Exemples d'actions</span>
                        <ul>
                            <li>Détecter la répétition d’un motif dans une peinture, sur un tissu;</li>
                            <li>Décrire des formes planes dans un décor;</li>
                            <li>Identifier un objet décrit par une personne ...</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="small-6 columns">
                        <p><strong>Production des formes planes et transformations dans l’environnement
                            physique.</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <ul>
                            <li> Tracer le croquis d’une maison à construire</li>
                            <li> Tracer le plan de masse d’un
                                immeuble</li>
                            <li>Tracer le patron d’un vêtement</li>
                            <li>Associer des figures et des mesures à des objets observés</li>
                            <li>Assembler d’un meuble</li>
                            <li>Dessiner un motif de tissu</li>
                            <li>Schématiser une pièce mécanique</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <p><strong>Détermination des mesures et des positions.</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <ul>
                            <li> Estimer la quantité de tissu nécessaire pour confectionner
                                un habit</li>
                            <li>Estimer la portion de terrain qu’occupera un meuble, un
                                potager</li>
                            <li>Se situer dans un immeuble, sur un trajet</li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <h4>Ressources</h4>

            <p class="etendu" id="P3" data-magellan-target="P3">Droites du plan</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> droitesDuPlan-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>

            <p class="etendu" id="P4" data-magellan-target="P4">Segments</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> segments-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>

            <p class="etendu" id="P5" data-magellan-target="P5">Cercle</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> cercle-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>

            <p class="etendu" id="P6" data-magellan-target="P6">Angles</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> angles-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>

            <p class="etendu" id="P7" data-magellan-target="P7">Triangles</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> triangles-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>

            <p class="etendu" id="P8" data-magellan-target="P8">Parallélogrammes</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> parallelogrammes-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>

            <p class="etendu" id="P9" data-magellan-target="P9">Symétries orthogonales</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> symetriesOrthogonales-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>

            <p class="etendu" id="P10" data-magellan-target="P10">Symétries centrales</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> symetriesCentrales-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>

            <p class="etendu" id="P11" data-magellan-target="P11">Repérage d'un point sur une droite</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> reperagePointDroite-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule3}}
                </div>
            </div>
        </div>
    </div>

    <!-- sous-menu lateral pour ecran large et moyen-->
    {{> sousMenuLateral}}
</div>