<div class="row" id="contenu-principal">
    <div class="small-12 medium-9 columns" >
        <!--Contenu principal-->
        <div><!--Contenu principal-->

            <h3 id="P1" data-magellan-target="P1">Introduction</h3>
            <h4>Présentation du module</h4>

            <p>Ce module comporte deux parties essentielles : cube et pavés droits et cylindre
                de révolution. Il développe deux compétences fondamentales que sont :</p>

            <ul>
                <li>déployer un raisonnement mathématique(analogique, inductif et déductif)</li>
                <li>résoudre des problèmes par l'observation, l'identification et la caractérisation
                    des objets de l'espace.</li>
            </ul>
            <p> Il s'articule sur la famille de situations suivante : usage des objets techniques
                dans la vie. Les compétences mises en contexte s'appuient sur les trois catégories
                d'actions qui suivent :</p>
            <ul>
                <li>Reconnaissance des solides dans l'espace.</li>
                <li>Production d'objets</li>
                <li>Production d'objets.</li>
                <li>Détermination des mesures</li>
            </ul>
            <p>Cette dernière catégorie d'actions est le champ privilégié de l'inter action entre
                les activités numériques et les activités géométriques de l'élève de 6ème.</p>
            <p>Les différentes actions qui s'intègrent dans chacune des catégories suscitées
                sont en corrélation avec les savoirs essentiels que ce module développe, et qui
                s'appuient sur les habiletés cognitives suivantes : connaissance, compréhension
                et application.</p>

            <h4> Contribution du module à la finalité et aux buts curriculaires</h4>
            <p>L'apprentissage de la géométrie en général, et de la géométrie dans l'espace
                en particulier concourt à la construction du raisonnement, à la familiarisation
                avec les techniques calculatoires telles que les calculs d'aires et des volumes.
                Le traitement de la famille de situations aidera l'élève à construire ces
                éléments de formation. Il pourra également se familiariser avec les techniques
                de classement, d'observation et de description, de représentation, autant d'attitudes
                qui contribuent à l'autonomie.</p>

            <h4>Contribution du module au programme d’études et aux domaines de vie</h4>
            <p>Les éléments de formation que l'élève construira en traitant avec compétence
                la famille de situations choisie devrait l'aider à réaliser des actions et résoudre
                des problèmes.</p>
            <p>De plus, le présent module est d'un apport significatif au domaine d'apprentissage
                intitulé "sciences et technologie", tant il participe à la conception, à
                la représentation, et à la réalisation des chefs d'oeuvres architecturaux, et de
                tous les objets technologiques qui nous entourent. Sa contribution à la représentation
                de la structure cristalline de certains éléments de base en chimie
                mérite elle aussi d'être soulignée. Enfin il ne serait pas superflu de signaler sa
                contribution au développement du design, des arts plastiques et graphiques,
                véhicules de grandes valeurs universelles telles que l'esthétique et l'harmonie.</p>
            <p>La contribution de ce module au développement de la technologie vient d'être
                soulignée plus haut. L'importance du développement de la technologie n'est
                plus à démontrer dans la vie économique, et dans l'amélioration du bien être
                familial. On peut donc affirmer par voie de conséquence que la contribution
                de ce module à la vie sociale et familiale, et surtout à la vie économique est
                déterminante. Cette contribution peut même être étendue, de manière implicite
                au domaine de la citoyenneté, et à celui des arts.</p>

            <h3 id="P2" data-magellan-target="P2">Matrice</h3>

            <h4>Cadre de contextualisation</h4>

            <span class="warning label">Famille de situations</span>
            <p>Usage des objets techniques dans la vie.</p>
            <span class="warning label">Exemples de situations</span>
            <ul>
                <li>Entretien de la maison, d'appareils de meubles qui s'y trouvent.</li>
                <li>Aménagement d'un terrain</li>
                <li>Consommation courante</li>
                <li>Préoccupation d'hygiènne personnelle</li>
                <li>Amélioration du confort et décoration</li>
            </ul>

            <hr>

            <h4>Agir compétent</h4>

            <div class="panneauVertClair">
                <div class="row ">
                    <div class="small-6 columns">
                        <span class="warning label">Catégories d'actions</span>
                        <p><strong>Reconnaissance d'objets dans l'espace.</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <span class="warning label">Exemples d'actions</span>
                        <ul>
                            <li>Décrire des solides d'un environnement donnée;</li>
                            <li>Identifier l'objet décrit par une personne.</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="small-6 columns">
                        <p><strong>Production d'objets.</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <ul>
                            <li> fabriquer une boîte de craie ou d’allumettes ;</li>
                            <li> fabriquer un moule, un carton pour emballage ;</li>
                            <li> fabriquer des boîtes postales</li>
                            <li> pavés, des buses, des tam-tams, des gâteaux;</li>
                            <li> découper des billes de bois, …</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <p><strong>Détermination des mesures</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <ul>
                            <li> Déterminer la quantité d’eau dans une bassine;</li>
                            <li>déterminer le nombre de savon dans un carton.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <h4>Ressources</h4>

            <p class="etendu" id="P3" data-magellan-target="P3">Cube et pavé droit</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> cubeEtPaveDroit-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule4}}
                </div>
            </div>

            <p class="etendu" id="P4" data-magellan-target="P4">Cylindre</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> cylindre-6}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule4}}
                </div>
            </div>
        </div>
    </div>

    <!-- sous-menu lateral pour ecran large et moyen-->
    {{> sousMenuLateral}}
</div>