<div class="row" id="contenu-principal">
    <div class="medium-9 columns">
    <div class="row">
        <div class="small-6 columns ">
            <div class="panneauBleuCiel">
                <h3>Module 5</h3>

                <p class="show-for-large">Représentation, détermination des quantités
            et identification des objets par des nombres.</p>

                <p><strong>Crédit: </strong> <a class="warning label">32 heures </a></p>
                <a href="Module5.html" class="button tiny">En savoir plus</a>
            </div>
        </div>
        <div class="small-6 columns ">
            <div class="panneauBleuCiel">
                <h3>Module 6</h3>

                <div class="show-for-large">
                    <p>Statistiques</p><br>
                </div>

                <p><strong>Crédit: </strong> <a class="warning label">46 heures </a></p>
                <a href="Module6.html" class="button tiny">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <div class="panneauBleuCiel">
                <h3>Module 7</h3>

                <div class="show-for-large">
                    <p>Configurations élémentaires du plan</p><br>
                </div>

                <p><strong>Crédit: </strong> <a class="warning label">11 heures </a></p>
                <a href="Module7.html" class="button tiny">En savoir plus</a>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="panneauBleuCiel">
                <h3>Module 8</h3>

                <div class="show-for-large">
                    <p>Solides de l'espace</p><br>
                </div>

                <p><strong>Crédit: </strong> <a class="warning label">11 heures </a></p>
                <a href="Module8.html" class="button tiny">En savoir plus</a>
            </div>
        </div>
    </div>
    </div>

    <!-- sous-menu lateral pour ecran large et moyen-->
    {{> sousMenuLateral}}
</div>