<div class="row" id="contenu-principal">
    <div class="small-12 medium-9 columns" >
        <!--Contenu principal-->
        <div><!--Contenu principal-->

            <h3 id="P1" data-magellan-target="P1">Introduction</h3>
            <h4>Présentation du module</h4>

            <p>Ce module vise à rendre l'apprenant capable de traiter de façon réussie, des
                situations de vie de la famille "représentation, détermination des quantités
                et identification des objets par des nombres ". Il s'agit en gros, de le rendre
                capable de :</p>

            <ul>
                <li>Résoudre des problèmes relatifs à des situations de vie telles que :
                    l'achat ou la vente des biens de consommation, le partage des biens,
                    la vérification d'une facture après payement, la comparaison des prix
                    des objets ...</li>
                <li>Communiquer des informations comportant des nombres (numéros
                    de téléphones, matricule, immatriculation d'un véhicule ...).</li>
            </ul>
            <p> Il importe pour cela de consolider les notions d'addition, de soustraction, de
                multiplication de division et de relation d'ordre vues en 6ème. Les savoirs essentiels
                associés au présent module constituent cependant une avancée vers
                une habileté cognitive supérieure en l'occurrence l'application (division euclidienne,
                décomposition d'un entier en produit de facteurs premiers, résolution
                des équations, etc.). L'enseignant pourra donc mettre un accent sur cette
                habileté dans les compétences liées à la résolution des problèmes.</p>

            <h4> Contribution du module à la finalité et aux buts curriculaires</h4>
            <p>Ce module permet de développer le sens de l'ordre, de la concision et l'esprit
                critique. Il contribue au renforcement de la pratique du calcul mental ou à
                l'utilisation de la calculatrice, ce qui permet à l'apprenant d'agir de manière
                autonome, compétente et adaptative dans diverses situations de la vie courante,
                dans lesquelles ces pratiques interviennent.</p>

            <h4>Contribution du module au programme d’études et aux domaines de vie</h4>
            <p>Ce module qui fait partie des programmes de mathématiques permet à chaque apprenant d’acquérir des connaissances et savoir-faire de base sur lesquels les
                enseignements/apprentissages qu’il recevra dans les autres disciplines du domaine d’apprentissage devront s’appuyer.</p>
            <p>Les nombres décimaux sont utilisés dans toutes les sciences pour mesurer, peser et évaluer les quantités.</p>
            <p>La maîtrise des concepts d'égalité, d'inégalité et des opérations fondamentales
                que sont l'addition, la soustraction, la multiplication et la division, est
                de nature à doter l'apprenant d'un certain nombre d’ outils fondamentaux
                dont il aura besoin dans la vie pratique.</p>
            <p>La gestion du budget familial, la comptabilité au sein de l'entreprise, l'évaluation
                des distances, des poids, des volumes, sont autant d'applications des
                nombres décimaux dans les domaines de vie que sont l'économie, les média,
                l'environnement, la santé et le bien être.</p>

            <h3 id="P2" data-magellan-target="P2">Matrice</h3>

            <h4>Cadre de contextualisation</h4>

            <span class="warning label">Famille de situations</span>
            <p>Représentation, détermination des quantités et identification des objets par des nombres</p>
            <span class="warning label">Exemples de situations</span>
            <ul>
                <li>Achat ou vente des biens de consommation, partage des biens, vérification d’une facture après
                    payement, comparaison des prix des objets;</li>
                <li>Communication des informations comportant des nombres (numéros de téléphones, matricule,
                    immatriculation, d'un véhicule, ...)</li>
            </ul>

            <hr>

            <h4>Agir compétent</h4>

            <div class="panneauVertClair">
                <div class="row ">
                    <div class="small-6 columns">
                        <span class="warning label">Catégories d'actions</span>
                        <p><strong>Détermination d'un nombre</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <span class="warning label">Exemples d'actions</span>
                        <ul>
                            <li>Compter des points dans une activité sportive, des objets… ;</li>
                            <li>Calculer des sommes mises en jeu dans une transaction;</li>
                            <li>Situer un évenement dans le temps</li>
                            <li>Partager des biens</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="small-6 columns">
                        <p><strong>Lecture ou écriture des renseignements comportant des chiffres ou à caractère
                            monétaire.</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <ul>
                            <li> Lire et noter une recette de cuisine</li>
                            <li> Lire et écrire les prix des articles</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="small-6 columns">
                        <p><strong>Interaction verbale sur des informations comportant des chiffres ou à caractère
                            monétaire.</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <ul>
                            <li> Communiquer le numéro de téléphone d'une connaissance</li>
                            <li> Donner sa date de naissance</li>
                            <li> Joindre les commerces par téléphones pour comparer le prix
                                de vente ou de location d'un article ...</li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <h4>Ressources</h4>

            <p class="etendu" id="P3" data-magellan-target="P3">Arithmétique</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> arithmetique-5}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule5}}
                </div>
            </div>


            <p class="etendu" id="P4" data-magellan-target="P4">Fractions</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> fractions-5}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule5}}
                </div>
            </div>

            <p class="etendu" id="P5" data-magellan-target="P5">Nombres décimaux relatifs</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> nombresDecimauxRelatifs-5}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule5}}
                </div>
            </div>

            <p class="etendu" id="P6" data-magellan-target="P6">Calcul littéral</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> calculLitteral-5}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule5}}
                </div>
            </div>
        </div>
    </div>

    <!-- sous-menu lateral pour ecran large et moyen-->
    {{> sousMenuLateral}}
</div>