<div class="row" id="contenu-principal">
    <div class="small-12 medium-9 columns" >
        <!--Contenu principal-->
        <div class="animated"><!--Contenu principal-->
            <p>Cette orientation tient compte des évolutions en didactique, donne du sens aux
                apprentissages
                mathématiques, favorise un meilleur épanouissement intellectuel et une bonne insertion
                dans la société qui est la finalité principale de l'éducation au Cameroun (loi d'orientation, article 4,
                1998). Les objectifs généraux étant entre autres :</p>
            <ul>
                <li>de former des citoyens enracinés dans leur culture et ouverts au monde;</li>
                <li>de développer la créativité, le sens de l'initiative... ;</li>
                <li>d'installer la culture de l'amour de l'effort et du travail bien fait, de la
                    quête de l'excellence... ;
                </li>
                <li>de s'adapter aux réalités économiques ainsi qu'à l'environnement international,
                    particulièrement en ce qui concerne la promotion des sciences et de la
                    technologie...
                </li>
            </ul>
            <p>A ce titre, l'enseignement des mathématiques revêt une double mission:</p>
            <ul>
                <li>La première est une mission de formation intellectuelle des élèves, en développant
                    progressivement les capacités d'expérimentation, de raisonnement,de créativité et
                    d'analyse
                    critique,afin de les rendre capables, dans les situations de vie, d'exercer
                    pleinement
                    leur
                    citoyenneté.
                </li>
                <li>La deuxième est une mission utilitaire d'intégration des connaissances scientifiques
                    au
                    contexte socio économique et à l'environnement international.
                </li>
            </ul>
            <p>Les programmes de 6ème et 5ème sont l'occasion de poser les jalons de cette double
                mission
                qui
                passe par le développement de trois compétences fondamentales qui sont, de manière
                universelle,
                celles de tout enseignement/apprentissage de mathématiques à savoir :</p>
            <ul>
                <li>Résoudre une situation problème,</li>
                <li>Déployer un raisonnement mathématique,</li>
                <li>Communiquer à l'aide du langage mathématique.</li>
            </ul>

            <h2 id="P1" data-magellan-target="P1">La situation du programme d’études dans le curriculum
                et sa contribution aux domaines
                d’apprentissage</h2>

            <p>Un curriculum peut être perçu comme un ensemble d'actions planifiées pour
                susciter l'instruction (définition des objectifs, contenus, méthodes ...). Un domaine
                d'apprentissage pour sa part a pour fonction principale d'intégrer un ensemble
                de programmes d'études présentant des affinités afin de décloisonner
                les matières scolaires et de favoriser l'interdisciplinarité nécessaire au développement
                de nombreuses compétences effectives.</p>

            <p> Le curriculum du Ministère des Enseignements Secondaires (MINESEC) a regroupé
                les programmes d'études dans six domaines d'apprentissage. Il s'agit
                des domaines suivants : langues et littérature, sciences humaines, sciences et
                technologies, développement personnel, arts et cultures, techniques industrielles
                et commerciales. Le présent programme d'études est partie intégrante du domaine
                d'apprentissage
                "Sciences et Technologies" au même titre que ceux de l'informatique et des sciences.</p>

            <p> L'apport des mathématiques au développement de ces disciplines soeurs est
                incontestable. De
                par les nombreux outils qu'il génère (symboles, opérateurs, modèles, objets ....), ce
                programme
                offre aux disciplines soeurs, un contenu langagier et un contenu scientifique
                appréciables. Cela
                contribue à créer, à gérer et à exploiter des situations d'apprentissage qui permettent
                de
                comprendre la nature, de maîtriser des lois élémentaires et de les utiliser à bon
                escient.
                Ce domaine est aussi celui dans lequel s'exerce par excellence le développement de la
                rigueur,
                du raisonnement, de la créativité et de la pensée critique. Les mathématiques
                constituent dans
                ce cas, un champ privilégié du développement de la pensée scientifique dans un monde en
                perpétuelle
                évolution.</p>

            <h2 id="P2" data-magellan-target="P2">Domaines de vie et contribution du programme aux
                domaines de vie</h2>

            <p>Les enseignements/apprentissages au MINESEC sont construits à partir de cinq domaines de
                vie qui sont :</p>
            <ul>
                <li>la vie sociale et familiale ;</li>
                <li>la vie économique;</li>
                <li>l'environnement, le bien-être et la santé ;</li>
                <li>la citoyenneté ;</li>
                <li>les médias et communication.</li>
            </ul>
            <p>Dans tous ces domaines de vie, les mathématiques jouent un rôle déterminant. Elles ont
                accompagné l'édification des grandes merveilles architecturales telles que les pyramides
                égyptiennes, balisé les trajectoires des grandes découvertes et l'exploration de l'univers aussi bien
                dans l'infiniment petit que dans l'infiniment grand ; elles sont à la base de l'évolution
                technologique du monde actuel en contribuant de manière significative à modifier notre
                environnement, notre mode de vie et de pensée. Elles sont enfin à la base de l'évolution
                de l'informatique qui a révolutionné notre manière de travailler et de communiquer.</p>

            <h2 id="P3" data-magellan-target="P3">Familles de situations couvertes par le programme
                d’études</h2>

            <p>Une situation de vie peut être perçue comme une circonstance d'action ou de réflexion
                dans
                laquelle peut se trouver une personne. Une famille de situations renvoie à des
                situations de vie qui partagent au moins une propriété commune. Dans les classes de 6ème et 5ème, quatre
                familles de situations ont été retenues :</p>
            <ol>
                <li>Représentation, détermination des quantités et identification des objets par des
                    nombres;
                </li>
                <li>Organisation des donnéeset estimation des quantités dans la consommation des biens et
                    services;
                </li>
                <li>Représentations et transformations des configurations planes dans l'environnement
                    ;
                </li>
                <li>Usage d'objets techniques dans la vie de tous les jours.</li>
            </ol>
            <p>Ces quatre familles permettent de passer en revue toutes les actions de la vie de tous
                les jours des élèves de ces niveaux : transactions commerciales, jeux, planification des dépenses,
                consommation courante,pour ne citer que celles–là. Elles sont de ce fait, les lieux de développement des compétences visées. Un module
                y est consacré par famille de situation et par niveau.</p>

            <h2 id="P4" data-magellan-target="P4">Modules du programme d’études</h2>

            <h3>Tableau synoptique des modules du programme d’études</h3>

            <p>Le cours de mathématiques des classes de 6ème et 5ème est obligatoire, avec
                une charge horaire annuelle de 100 heures par niveau ainsi répartie :</p>

            <!--Tableau des modules:: affichage portrait-->
            <div class="hide-for-landscape hide-for-medium">

                <h4>Premier cycle, niveau 6ème</h4>

                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Module 1: 32 heures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Titre du module</th>
                        <td>Représentation, détermination des quantités et identification des objets par
                            des nombres
                        </td>
                    </tr>
                    <tr>
                        <th>Famille de situations rattachées</th>
                        <td>Relations et opérations fondamentales dans l'ensemble des nombres décimaux
                            et des fractions et représentation, détermination des quantités et identification
                            des objets par des nombres.
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Module 2: 11 heures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Titre du module</th>
                        <td>Organisation des données.</td>
                    </tr>
                    <tr>
                        <th>Famille de situations rattachées</th>
                        <td>Organisation des données et estimation des quantités dans la consommation
                            des biens etservices.
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Module 3: 46 heures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Titre du module</th>
                        <td>Configurations élémentaires du plan.</td>
                    </tr>
                    <tr>
                        <th>Famille de situations rattachées</th>
                        <td>Représentations et transformations des configurations planes dans l'environnement.
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Module 4: 11 heures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Titre du module</th>
                        <td>Solides de l'espace.</td>
                    </tr>
                    <tr>
                        <th>Famille de situations rattachées</th>
                        <td>Usage d'objets techniques dans la vie de tous les jours.</td>
                    </tr>
                    </tbody>
                </table>


                <h4>Premier cycle, niveau 5ème</h4>

                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Module 5: 32 heures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Titre du module</th>
                        <td>Représentation, détermination des quantités et identification des objets par
                            des
                            nombres
                        </td>
                    </tr>
                    <tr>
                        <th>Famille de situations rattachées</th>
                        <td>Relations et opérations fondamentales dans l'ensemble des nombres décimaux
                            et
                            des
                            fractions et représentation, détermination des quantités et identification
                            des
                            objets
                            par des nombres.
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Module 6: 11 heures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Titre du module</th>
                        <td>Statistiques</td>
                    </tr>
                    <tr>
                        <th>Famille de situations rattachées</th>
                        <td>Organisation des données et estimation des quantités dans la consommation
                            des
                            biens
                            et
                            services.
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Module 7: 46 heures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Titre du module</th>
                        <td>Configurations élémentaires du plan.</td>
                    </tr>
                    <tr>
                        <th>Famille de situations rattachées</th>
                        <td>Représentations et transformations des configurations planes dans
                            l'environnement.
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Module 8: 11 heures</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Titre du module</th>
                        <td>Solides de l'espace.</td>
                    </tr>
                    <tr>
                        <th>Famille de situations rattachées</th>
                        <td>Usage d'objets techniques dans la vie de tous les jours.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--Tableau des modules:: affichage paysage-->
            <div class="show-for-landscape">
                <table>
                    <thead>
                    <tr>
                        <th>Niveau</th>
                        <th>Titre du module</th>
                        <th>Famille de situations rattachées</th>
                        <th>Durée</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="4">Sixième</td>
                        <td>Représentation, détermination des quantités et identification des objets par
                            des
                            nombres
                        </td>
                        <td>Relations et opérations fondamentales dans l'ensemble des nombres décimaux
                            et
                            des
                            fractions et représentation, détermination des quantités et identification
                            des
                            objets
                            par des nombres.
                        </td>
                        <td>32 heures</td>
                    </tr>
                    <tr>
                        <td>Organisation des données.</td>
                        <td>Organisation des données et estimation des quantités dans la consommation
                            des
                            biens
                            et
                            services.
                        </td>
                        <td>11 heures</td>
                    </tr>
                    <tr>
                        <td>Configurations élémentaires du plan.</td>
                        <td>Représentations et transformations des configurations planes dans
                            l'environnement.
                        </td>
                        <td>46 heures</td>
                    </tr>
                    <tr>
                        <td>Solides de l'espace.</td>
                        <td>Usage d'objets techniques dans la vie de tous les jours.</td>
                        <td>11 heures</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Cinquième</td>
                        <td>Représentation, détermination des quantités et identification des objets par
                            des
                            nombres
                        </td>
                        <td>Relations et opérations fondamentales dans l'ensemble des nombres décimaux
                            et
                            des
                            fractions et représentation, détermination des quantités et identification
                            des
                            objets
                            par des nombres.
                        </td>
                        <td>32 heures</td>
                    </tr>
                    <tr>
                        <td>Statistiques.</td>
                        <td>Organisation des données et estimation des quantités dans la consommation
                            des
                            biens
                            et
                            services.
                        </td>
                        <td>11 heures</td>
                    </tr>
                    <tr>
                        <td>Configurations élémentaires du plan.</td>
                        <td>Représentations et transformations des configurations planes dans
                            l'environnement.
                        </td>
                        <td>46 heures</td>
                    </tr>
                    <tr>
                        <td>Solides de l'espace.</td>
                        <td>Usage d'objets techniques dans la vie de tous les jours.</td>
                        <td>11 heures</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3>Présentation des modules</h3>

            <p>Chacun des modules se présente en deux parties principales : l’introduction et
                la matrice.</p>

            <p>L'introduction précise à l'utilisateur : la famille de situations rattachée aumodule,
                les compétences à développer, les habiletés cognitives auxquelles il fait
                appel.</p>

            <p>La matrice est constituée de trois grands éléments.</p>
            <ul>
                <li>Le <strong>cadre de contextualisation</strong>, qui rappelle la famille de situations relative au
                    module
                    avec
                    quelques exemples de situations de cette famille ;
                </li>
                <li>L’<strong>agir compétent</strong> constitué des catégories d’actions et exemples d’actions : Les
                    catégories
                    d’actions sont des regroupements d’actions qui sont caractéristiques de la maîtrises
                    des
                    compétences ciblées par le module. Elles constituent avec la famille de situations
                    sus
                    référée, le contexte et l’essentiel de l’agir compétent situé.
                </li>
                <li>Les <strong>ressources</strong> qui se déclinent en savoir, savoir-faire, savoir-être et autres
                    ressources:
                    elles précisent l’ensemble des ressources cognitives que l’apprenant
                    devra mobiliser en vue d’un traitement réussi des situations de la famille.
                </li>
            </ul>

            <h2 id="P5" data-magellan-target="P5">Quelques recommandations d’ordre pédagogiques</h2>

            <h3>Méthodologie recommandée</h3>

            <p>L'approche par les compétences se fonde sur une pédagogie socio constructiviste.
                L'appropriation
                des savoirs mathématiques et le développement des compétences ne se transmettent pas,
                ils se
                construisent. Il importe pour cela, d'opter résolument pour une approche privilégiant
                l'activité
                de l'élève.</p>

            <p>Dans cette perspective, les leçons de mathématiques doivent être basées sur des activités
                d'apprentissage et leur conduite doit être centrée sur l'apprenant.Aussi,chaque séquence
                d'enseignement/apprentissage peut s'articuler autour des points suivants :</p>

            <ul>
                <li>Une introduction destinée à captiver l'attention des élèves et à contrôler les
                    prérequis
                    nécessaires ;
                </li>
                <li>Une ou deux activités d'apprentissage destinées à favoriser l'acquisition des
                    savoirs
                    nouveaux ou à consolider des acquis antérieurs par les élèves eux-mêmes ;
                </li>
                <li>L'essentiel à retenir en termes de notions ou de méthodes ;</li>
                <li>Des exercices d'application ;</li>
                <li>Des activités d'intégration si possible tant il est vrai qu'elles ont pour fonction
                    d'amener les élèves à s'exercer sur la mobilisation de plusieurs acquis pour
                    résoudre
                    des
                    problèmes courants. Elles peuvent se situer au terme de plusieurs apprentissages qui
                    forment
                    un tout significatif.
                </li>
                <li>Il importe de préciser que les séances d'exercices sont des moments d'apprentissage
                    à
                    part
                    entière. Elles doivent aussi être conduites de façon active.
                </li>
                <li>Il importe aussi de comprendre que l'efficacité des actions entreprises pour rendre
                    les
                    élèves compétents ne s'accommode pas de la navigation à vue. L'élaboration des
                    projets
                    pédagogiques est de ce point de vue, une nécessité.
                </li>
            </ul>

            <h3>Evaluation</h3>

            <p>Chaque épreuve écrite de contrôle des apprentissages devra tenir compte de
                l'évaluation des savoirs mathématiques et de l'évaluation des compétences,
                le tout encastré dans une charpente ayant les deux parties suivantes :</p>
            <ol>
                <li><strong>Travaux numériques</strong> : Il s'agit par exemple d'évaluer la capacité à
                    pratiquer
                    le calcul exact, approché ou littéral ; à gérer des situations de
                    vie par lecture/construction des tableaux ou par identification/résolution
                    des modèles mathématiques sous-jacents ....
                </li>
                <li><strong>Travaux géométriques</strong> : Ils peuvent évaluer la capacité à
                    représenter
                    des objets usuels du plan, à décrire ou à caractériser des solides de
                    l'espace, à calculer des grandeurs rattachées à ces objets, à gérer des
                    situations de vie par l'utilisation de ces objets, ...
                </li>
            </ol>

            <p>Les évaluations orales pendant les séances de classe sont encouragées. Elles
                permettent d'évaluer chez les élèves la capacité à communiquer en langage
                mathématique qui est l'une des compétences fondamentales de cette discipline
                ; elles constituent aussi, une source de motivation pour les élèves.
                Les niveaux d'exigence ne doivent pas excéder le troisième niveau de la taxonomie
                de BLOOM. Ils doivent alors se limiter à la connaissance, la compréhension
                ou l'application (relativement simple).</p>

            <h3>Quelques consignes relatives aux contenus et aux apprentissages</h3>

            <h4>Langage ensembliste</h4>

            <p>Le professeur introduira, progressivement et à chaque fois que cela sera nécessaire,
                les notions et symboles ensemblistes $\emptyset$, $\in$, $\not\in$,  $\subset$, $\cup$ et $\cap$.</p>

            <p>Il ne saurait être question de traiter la théorie des ensembles pour elle-même. De même,
                on introduira les notations des ensembles de nombres : $\mathbb N$, $\mathbb Z$ et $\mathbb D$ sans pour autant faire de
                leçon spécifique sur chaque ensemble.</p>

            <h4>Comparaison des nombres</h4>

            <p>On habituera, tout au long du cycle, les élèves à utiliser un support graphique
                pour visualiser des notions numériques (comparaison, encadrement).</p>

            <h4>Calculatrices</h4>

            <p>La calculatrice est un outil qui, avec ou sans instructions officielles, connaît
                unelarge diffusion. Il est de l'intérêt des enseignants d'en tenircompte. S'il ne
                peut être question, vu les coûts, d'imposer son usage par des mentions dans
                les programmes officiels, il importe de recenser à tous les niveaux les points
                de programmes et les activités motivant son emploi et favorisant chez l'élève
                l'habitude d'une utilisation intelligente.</p>

            <h4>Apprentissage de la rigueur et abus de langage</h4>

            <p>Le professeur conduira progressivement les élèves au niveau de rigueur de
                langage souhaitable,mais tolérera les abus consistant à confondre par exemple
                longueur et mesure.On ne se privera pas d'utiliser des formulations habituelles
                telles que :"La longueur du segment est 5cm" ou "unsegment de 5cm", "Une surface
                de 3 cm ", "Le volume du prisme est de 4l", "Un angle de 30°".</p>

            <h4>Angles</h4>

            <p>Les notions d'angle et de secteur angulaire sont des notions difficiles à mettre
                en place de façon rigoureuse. Préférence sera donnée à être en accord avec le
                langage courant.</p>

            <h4>Espace</h4>

            <p>L'étude de l'espace est répartie sur la totalité du cursus. Le problème de la
                représentation
                plane de configurations de l'espace se pose; cette représentation ne peut pas suppléer
                l'observation effective et, si possible, la construction des solides sera effectuée par
                les élèves.</p>

            <h4>Configurations planes</h4>

            <p>On s'efforcera de présenter des configurations planes que l'élève peut rencontrer
                hors de l'école ou qu'il peut réemployer (exemples de polygones réguliers
                en classe de 5ème pour pouvoir proposer ultérieurement des exemples de
                prisme droit à base régulière). Mais, il ne peut être question de leur donner
                la même place qu'aux configurations fondamentales, outils de raisonnement
                couramment employés; on demandera à l'élève de justifier, par exemple, qu'un
                triangle est équilatéral; on se contentera, par contre, de lui demander de reconnaître
                un hexagone. On n'oubliera pas de proposer aux élèves des cas de
                figures trop souvent délaissés (exemple : triangle avec un angle obtus pour
                la recherche des hauteurs et de l'orthocentre).</p>

            <h4>Gestion des modules</h4>

            <p>Dans l'ensemble un module forme un tout cohérent, mais il ne serait pas pertinent
                determiner un module avant de commencer le suivant ; nous conseillons donc au professeur d'alterner
                les activités numériques et les activités géométriques: par exemple on pourra étudier de front les
                modules 1 et 3, 2 et 4 pour la classe de sixième et les modules 5 et 7, 6 et 8 pour la
                classe de cinquième.</p>


        </div>
    </div>

    <!-- sous-menu lateral pour ecran large et moyen-->
    {{> sousMenuLateral}}
</div>