<div class="row" id="contenu-principal">
    <div class="small-12 medium-9 columns" >
        <!--Contenu principal-->
        <div><!--Contenu principal-->

            <h3 id="P1" data-magellan-target="P1">Introduction</h3>
            <h4>Présentation du module</h4>

            <p>Ce module vise à rendre l'apprenant capable de traiter de façon réussie, des
                situations de vie de la famille "organisation des données et estimation des
                quantités dans la consommation des biens et services ". Il s'agit pour lui de:</p>

            <ul>
                <li>Déployer un raisonnement mathématique pour identifier et formaliser
                    des situations de vie qui se rapportent aux proportionnalités.</li>
                <li>Résoudre des problèmes relatifs à des situations telles que le placement
                    d'argent, la remise au cours d'achat divers, le partage proportionnel,
                    la collecte et l'exploitation des données, les interprétations
                    des résultats des enquête...</li>
            </ul>
            <p> Pour y parvenir, il est nécessaire de consolider et de renforcer les acquis sur
                les proportionnalités, les pourcentages et l'échelle vue en sixième tout en restant
                sur les habiletés cognitives que sont la connaissance, la compréhension et l'application.</p>
            <p>Ce module est par excellence celui qui, à ce niveau d'étude, comporte les situations
                de vie les plus familières à l'élève.</p>

            <h4> Contribution du module à la finalité et aux buts curriculaires</h4>
            <p>Le module permet de développer les compétences transversales suivantes :
                le sens de la concision, l'esprit critique et l'organisation rationnelle des données.
                A terme, ces attitudes permettent à l'apprenant de s'assumer comme
                membre responsable d'une famille,en même temps qu'elles lui permettent d'opérer
                des choix judicieux et autonomes, dans la production, la consommation
                des biens et services.</p>

            <h4>Contribution du module au programme d’études et aux domaines de vie</h4>
            <p>Ce module est un des maillons essentiels du programme de 5ème. Il est par
                excellence lui-aussi, le domaine d'intégration des mathématiques dans la vie
                quotidienne. Les situations de vie et les exemples de situations auxquelles
                il renvoie, de même que toutes les autres composantes du module pourront
                tout aussi bien intervenir en physique, dans les sciences de la vie et de la terre,
                en géographie, et plus tard en psychologie et en économie, pour ne citer que
                ces disciplines-là. Il permet à ce niveau de dégager de manière implicite et
                même transversale l'importance de l'interdisciplinarité dans plus d'un domaine
                d'apprentissage.</p>
            <p>La maîtrise de cette notion que ce module développe est de nature à doter
                l'apprenant d'outils essentiels dont il a besoin dans la vie pratique. Sa contribution
                dans la gestion du budget familiale est indéniable. Son implication
                dans la détermination des quantités justifie son importance dans la consommation
                des biens. Une bonne maîtrise des statistiques situées est un atout
                majeur dans la consommation des informations, et dans l'exploitation, l'analyse
                et l'interprétation des données à caractère économique ou social.</p>

            <h3 id="P2" data-magellan-target="P2">Matrice</h3>

            <h4>Cadre de contextualisation</h4>

            <span class="warning label">Famille de situations</span>
            <p>Organisation desdonnées et estimation des quantités dans la consommation des biens et services</p>
            <span class="warning label">Exemples de situations</span>
            <ul>
                <li>Déplacements quotidiens</li>
                <li>Usage de médicaments.</li>
                <li>Pratique d’une activité de loisir ou sportive.</li>
                <li>Planification de repas ou d’activités agricoles.</li>
                <li>Achat ou vente d’un bien de consommation.</li>
                <li>Participation à une activité de formation à l’école ou en milieu de travail.
                    </li>
                <li>Cheptel.</li>
                <li>Population</li>
                <li>Température</li>
            </ul>

            <hr>

            <h4>Agir compétent</h4>

            <div class="panneauVertClair">
                <div class="row ">
                    <div class="small-6 columns">
                        <span class="warning label">Catégories d'actions</span>
                        <p><strong>Estimation des quantités</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <span class="warning label">Exemples d'actions</span>
                        <ul>
                            <li>Evaluer une augmentation ou une réduction des prix ;</li>
                            <li>Evaluer les dimensions réelles d’un terrain à partir d’une maquette et vice-versa ;</li>
                            <li>Calculer des prix, des intérêts ...</li>
                            <li>Calculer des distances parcourues à l'aide des vitesses ...</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="small-6 columns">
                        <p><strong>Traitement des informations comportant des nombres.</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <ul>
                            <li> Partager des biens,</li>
                            <li> Acheter des articles.</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="small-6 columns">
                        <p><strong>Collecte, traitement et exploitation des données;</strong></p>
                    </div>
                    <div class="small-6 columns">
                        <ul>
                            <li> Observer et repartir les élèves d'un établissement par classes,
                                par sexe, par âge, par taille, déterminer le taux de prévalence
                                du VIH/SIDA, de la tuberculose, du paludisme d'une population</li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <h4>Ressources</h4>

            <p class="etendu" id="P3" data-magellan-target="P3">Proportionnalité</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> proportionnalite-5}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule6}}
                </div>
            </div>

            <p class="etendu" id="P4" data-magellan-target="P4">Statistiques</span></p>
            <div class="row">
                <div class="medium-8 columns">
                    {{> statistiques-5}}
                </div>
                <div class="medium-4 columns">
                    {{> autresRessourcesSavoirEtreModule6}}
                </div>
            </div>

        </div>
    </div>

    <!-- sous-menu lateral pour ecran large et moyen-->
    {{> sousMenuLateral}}
</div>