<li class="menu-masque-texte">Sur cette page</li>
<li><a href="#P1">Introduction</a></li>
<li><a href="#P2">Matrice</a></li>
<li class="menu-masque-texte">Ressources</li>
<li><a href="#P6">Angles</a></li>
<li><a href="#P5">Cercle</a></li>
<li><a href="#P3">Droites du plan</a></li>
<li><a href="#P8">Parallélogrammes</a></li>
<li><a href="#P11">Repérage d'un point sur une droite</a></li>
<li><a href="#P4">Segments</a></li>
<li><a href="#P10">Symétries centrales</a></li>
<li><a href="#P9">Symétries orthogonales</a></li>
<li><a href="#P7">Triangles</a></li>



