<li class="menu-masque-texte">Sur cette page</li>
<li><a href="#P1">La situation du programme d’études dans le curriculum et sa
    contribution aux domaines d’apprentissage</a></li>
<li><a href="#P2">Domaines de vie et contribution du programme aux domaines
    de vie</a></li>
<li><a href="#P3">Familles de situations couvertes par le programme d’études</a></li>
<li><a href="#P4">Modules du programme d’études</a></li>
<li><a href="Presentation.html#P5">Quelques recommandations d’ordre pédagogiques</a></li>