<header class="fixed animated anim2s hide-for-medium">
    <div class="title-bar">
        <div class="title-bar-left" data-magellan>
            <a href="#P0">
                <button class="step-blanc size-18 fi-arrow-up"></button>
            </a>

            <div class="title-bar-title">Haut</div>
        </div>
        <div class="title-bar-right">
            <div class="title-bar-title">Contenu de la page</div>
            <button class="menu-icon" type="button" data-open="menu-masque-droit"></button>
        </div>
    </div>
</header>