<div class="menu-masque off-canvas position-left" id="menu-masque-gauche" data-off-canvas data-position="left">
    <!--Menu masqué gauche-->
    <button class="close-button" aria-label="Close menu" type="button" data-close><!--Bouton de fermeture-->
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="menu vertical" data-drilldown>
        <li><a href="Index.html">
            <button class="fi-home size-24" type="button"></button>
            Accueil </a>
            <hr>
        </li>
        <li><a href="Presentation.html">Présentation générale</a></li>
        <li class="menu-masque-texte"><a href="Sixieme.html">Sixième</a></li>
        <li class="has-submenu">
            <a href="Sixieme.html#M1">Module 1</a>
            <ul class="menu-masque submenu menu vertical" data-submenu>
                <li><hr><a href="Module1.html#P3">Nombres entiers naturels</a></li>
                <li><a href="Module1.html#P4">Fractions</a></li>
                <li><a href="Module1.html#P5">Nombres décimaux arithmétiques</a></li>
                <li><a href="Module1.html#P6">Nombres décimaux relatifs</a></li>
                <li><a href="Module1.html#P7">Calcul littéral</a></li>
            </ul>
        </li>
        <li><a href="#">Module 2</a>
            <ul class="menu-masque submenu menu vertical" data-submenu>
                <li><hr><a href="Module2.html#P3">Proportionnalité</a></li>
            </ul>
        </li>
        <li><a href="Module3.html">Module 3</a>
            <ul class="menu-masque submenu menu vertical" data-submenu>
                <li><hr><a href="Module3.html#P3">Droites du plan</a></li>
                <li><a href="Module3.html#P4">Segments</a></li>
                <li><a href="Module3.html#P5">Cercle</a></li>
                <li><a href="Module3.html#P6">Angles</a></li>
                <li><a href="Module3.html#P7">Triangles</a></li>
                <li><a href="Module3.html#P8">Parallélogrammes</a></li>
                <li><a href="Module3.html#P9">Symétries orthogonales</a></li>
                <li><a href="Module3.html#P10">Symétries centrales</a></li>
                <li><a href="Module3.html#P11">Repérage d'un point sur une droite</a></li>
            </ul>
        </li>
        <li><a href="#">Module 4</a>
            <ul class="menu-masque submenu menu vertical" data-submenu>
                <li><hr><a href="Module4.html#P3">Cube et pavé droit</a></li>
                <li><a href="Module4.html#P4">Cylindre de révolution</a></li>
            </ul>
        </li>
        <li class="menu-masque-texte"><a href="#">Cinquième</a></li>
        <li><a href="Module5.html">Module 5</a>
            <ul class="menu-masque submenu menu vertical" data-submenu>
                <li><hr><a href="Module5.html#P3">Arithmétiques</a></li>
                <li><a href="Module5.html#P4">Fractions</a></li>
                <li><a href="Module5.html#P5">Nombres décimaux relatifs</a></li>
                <li><a href="Module5.html#P6">Calcul littéral</a></li>
            </ul>
        </li>
        <li><a href="#">Module 6</a></li>
        <li><a href="#">Module 7</a></li>
        <li><a href="#">Module 8</a></li>
    </ul>
</div>